<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/edit-game" method="post">
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="text" placeholder="Enter Game" name="edName"/>
    <select name="edSystem">
        <option value="Playstation4">PS4</option>
        <option value="Xbox360">Xbox 360</option>
        <option value="PC">PC</option>
    </select>
    <button type="submit">Edit</button>
</form>
</body>
</html>