<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Library</title>
</head>

<body>

{{^username}}
<form action="login" method="post">
    <input type="text" placeholder="Enter username" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <button type="Submit">Login </button>
</form>
{{/username}}
<br><br>

{{#username}}
<a href="/">All</a>
<a href="/?system=Playstation4"> Playstation 4</a>
<a href="/?system=Xbox360">Xbox 360</a>
<a href="/?system=PC">PC</a>
<a href="/?system=Nintendo64">Nintendo 64</a>
<a href="/?userGames=true">Just My games</a>
<br><br>
Welcome {{.}}  <a href="/logout">Logout</a>
{{/username}}

<br><br>


{{#username}}
<form action="add-game" method="post">
    <input type="text" placeholder="Enter Game" name="gameName"/>
    <select name="system">
        <option value="Playstayion4">PS4</option>
        <option value="Xbox360">Xbox 360</option>
        <option value="PC">PC</option>
        <option value="Nintendo64">Nintendo64</option>
    </select>
    <button type="submit">Add Game</button>
</form>
{{/username}}


<br>
<br>
{{#games}}
{{title}}--{{system}} entered by {{#user}} {{name}} {{/user}}
{{#username}}
<a href="/delete-game?id={{id}}">Delete</a>
<a href="/edit-game?id={{id}}">Edit</a>
{{/username}}
<br>
{{/games}}
<br>




</body>
</html>